<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css"
      integrity="sha512-usVBAd66/NpVNfBge19gws2j6JZinnca12rAe2l+d+QkLU9fiG02O1X8Q6hepIpr/EYKZvKx/I9WsnujJuOmBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>{{ .title }}</title>
  </head>
  <body>
    <div class="bg-light p-5">
      <h1>{{ .title }}</h1>
      <p class="lead">
        This example is a quick exercise to illustrate how the bottom navbar
        works.
      </p>
      <dl>
        <dt>Database:</dt>
        <dd>{{ .dbVersion }}</dd>
      </dl>
    </div>
  </body>
</html>
